*.mp4
.devcontainer/devcontainer.json
.vscode/launch.json
Frigate-Viewer/.* 
Frigate-Viewer/config/.vacuum
Frigate-Viewer/config/frigate.*
Frigate-Viewer/config/frigate.db
Frigate-Viewer/config/frigate.db-shm
Frigate-Viewer/config/frigate.db-wal
Frigate-Viewer/config/notifications.pem
Frigate-Viewer/storage/*
MQTT/data/*
MQTT/log/mosquitto.log
MQTT/logs/*
Watcher-Scripts/.env
Watcher-Scripts/secrets/gcp-key.json
Watcher-Scripts/secrets/xxxx-gcp-key.json.bad